<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>

<body>
  <header>
    <div id="logo"><a href="/"><img src="/static/images/logo.png" /></a></div>
    <div id="logout">
      <a class="logout" href="/pinpad">Quick PIN Login</a>
    </div>
  </header>
  <div id="wrapper">
    <div class="container mt-5">
      <div id="container">
        <h2>Log In</h2>
        {% if messages %}
        <ul class="messages list-group mt-3 alert alert-primary mb-3">
          {% for message in messages %}
          <li class="error-message list-group-item" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <form id="login-form" action="/login" method="post">
          {% csrf_token %}
          <div>
            <label for="eml">Email</label>
            <input class="input_field" type="email" name="email" id="eml">
          </div>
          <div>
            <label for="pss">Password</label>
            <input class="input_field" type="password" name="password" id="pss">
          </div>
          <div>
            <button id="login_button">Log In</button>
          </div>
          <div id="auth-switch">
            Don't have an account? <a href="/registration">Create New Account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>