<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>

<body>
    <header>
        <div id="logo"><a href="/"><img src="/static/images/logo.png" /></a></div>
        <div id="logout">
            <a class="logout" href="/">Back to Login</a>
        </div>
    </header>
    <div id="wrapper">
        <div id="container">
            <h2>Registration</h2>
            {% if messages %}
            <ul class="messages list-group mt-3 alert alert-primary mb-3">
                {% for message in messages %}
                <li class="error-message list-group-item" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <form id="registration-form" action="/register" method="post">
                {% csrf_token %}
                <div>
                    <label for="fn">First Name</label>
                    <input type="text" name="first" id="fn">
                </div>
                <div>
                    <label for="ln">Last Name</label>
                    <input type="text" name="last" id="ln">
                </div>
                <div>
                    <label for="em">Email</label>
                    <input type="email" name="email" id="em">
                </div>
                <div>
                    <label for="ps">Password</label>
                    <input type="password" name="password" id="ps">
                </div>
                <div>
                    <label for="cps">Confirm Password</label>
                    <input type="password" name="cpassword" id="cps">
                </div>
                <div>
                    <button id="login_button">Register</button>
                </div>
                <div id="auth-switch">
                    Already have an account? <a href="/">Log in</a>
                </div>
            </form>
        </div>
        </form>
    </div>
    </div>
</body>

</html>