<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration and Login</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body class="bg-light text-black">
<nav class="bg-info">
  <div class="d-flex container text-white p-3">
    <h4 class="mr-auto">ClockIt</h4>
    <a href="#" class="btn btn-outline-light mt-1" id="pin">Quick pin login</a>
  </div>
  </nav>
  <div class="container mt-5">
    <h1> PIN </h1>
</body>
</html>